.form {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 0px 30px;
    margin: 0 auto;
    border: 1px solid limegreen;
    border-radius: 10px;
}

.login-title {
    text-align: center;
    margin: 10px;
    font-family: 'Vermin';
    color: limegreen;
}

.login-input {
    margin: 10px 0;
}

.info {
    font-size: 12px;
    color: limegreen;
    font-family: 'Courier New', Courier, monospace;
}

.login-button {
    margin: 10px 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #2a3132;
    color: limegreen;
    border: 0px;
    height: 30px;
    cursor: pointer;
}

.login-link {
    text-align: right;
}

.login-text-link {
    color: limegreen;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

.msg {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: limegreen;
}