body {
    margin: 0;
    background-color: #90afc5;
}

.site-header {
    background-color: #336b87;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    width: 150px;
}

.site-title {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.session {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.username {
    font-family: 'Courier New', Courier, monospace;
    color: #2a3132;
    font-weight: bolder;
    text-align: center;
}

.a-logout {
    text-align: center;
    margin-top: 5px;
}

.logout {
    color: white;
}

.site-footer {
    background-color: #336b87;
    height: 80px;
    display: flex;
    flex-direction: column;
}

.copyright {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: #2a3132;
}

.rrss {
    margin: 0 auto;
}

.a-rrss {
    margin: 5px;
    color: white;
}