@font-face {
    font-family: 'Vermin';
    src: url(../fonts/Vermin.ttf);
}

body {
    margin: 0;
    background-color: black;
    background-image: url(../img/background.jpg);
    color: limegreen;
}


.site-header {
    align-items: center;
    margin: 20px;
}

.site-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #2a3132;
    border-radius: 10px;
    height: 80px;
    padding: 0 20px;
}

.site-title {
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    color: limegreen;
    font-family: 'Vermin';
}

.session {
    display: flex;
    flex-direction: column;
}

.username {
    font-family: 'Courier New', Courier, monospace;
    color: limegreen;
    font-weight: bolder;
    text-align: center;
}

.a-session {
    text-align: center;
    margin-top: 5px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: #556466;
}

.i-session {
    color: limegreen;
    margin-left: 5px;
}

.login-message {
    text-align: center;
    color: limegreen;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.site-footer {
    height: 80px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    border: 2px solid #2a3132;
    border-radius: 10px;
}

.copyright {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: limegreen;
}

.rrss {
    margin: 0 auto;
}

.a-rrss {
    margin: 5px;
    color: limegreen;
}