.nav-h {
    background-color: #415F69;
    display: flex;
    text-align: center;
    padding: 5px 0;
}

.nav-b {
    background-color: #415F69;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
}

.left-nav {
    text-align: left;
    padding-left: 20px;
}

.logo {
    height: 80px;
}

.nav-link {
    width: 33.33%;
}

.copyright {
    font-size: 12px;
}

.login-message {
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
}

.a-session {
    color: #C64E52;
}

.container {
    margin-top: 120px;
    margin-bottom: 80px;
}

article {
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
}
.user-post {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}

.user-name {
    font-weight: bold;
}

.post-date {
    color: #415F69;
    font-size: 12px;
}

.post-text {
    padding-left: 10px;
    margin-bottom: 5px;
}

.post-comments {
    text-align: center;
}

.img-comment {
    margin-left: 5px;
    color: #415F69;
}

.optsPosts{
    display: flex;
    flex-direction: row;
    border: none;
    text-align: right;
}

.optPost{
    color: #415F69;
    padding-left: 10px;
}

/* Floating + button*/
.fab-container {
    position: fixed;
    bottom: 120px;
    right: 50px;
    cursor: pointer;
}

.iconbutton {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #C64E52;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.iconbutton i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
}

.button {
    width: 60px;
    height: 60px;
    background: #C64E52;
}

/* ------------------- */

/* Offcanvas: user menu */
.offcanvas-size-xl {
    --bs-offcanvas-width: min(95vw, 600px) !important;
}

.offcanvas-size-xxl {
    --bs-offcanvas-width: min(95vw, 90vw) !important;
}

.offcanvas-size-md {
    /* add Responsivenes to default offcanvas */
    --bs-offcanvas-width: min(95vw, 400px) !important;
}

.offcanvas-size-sm {
    --bs-offcanvas-width: min(95vw, 250px) !important;
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
}

.offcanvas-body .btn {
    margin-bottom: 10px;
    background-color: #415F69;
    border: none;
}

/* ------------------- */